In [1]:
import pandas as pd

In [2]:
#Δώσαμε το path για το αρχείο
file_path = 'C:\\Users\\jason\\Documents\\GitHub\\cmcprojectpersonal\\eurovision_song_contest_1957_2023.xlsx'

In [3]:
#Διαβάσαμε το αρχείο
df = pd.read_excel(file_path)

In [4]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,From country,To country,Points,Duplicate
0,1957,f,1957f,J,Austria,Austria,0,x
1,1957,f,1957f,J,Austria,Belgium,0,NaN
2,1957,f,1957f,J,Austria,Denmark,0,NaN
3,1957,f,1957f,J,Austria,France,0,NaN
4,1957,f,1957f,J,Austria,Germany,0,NaN

In [5]:
#Αντικαταστήσαμε τα ονόματα κάποιον χωρών
df['From country'] = df['From country'].replace({'F.Y.R. Macedonia': 'North Macedonia', 'Macedonia': 'North Macedonia'})
df['To country'] = df['To country'].replace({'F.Y.R. Macedonia': 'North Macedonia', 'Macedonia': 'North Macedonia'})

df['From country'] = df['From country'].replace({'Yugoslavia': 'F.U.Y/S.M.', 'Serbia & Montenegro': 'F.U.Y/S.M.'})
df['To country'] = df['To country'].replace({'Yugoslavia': 'F.U.Y/S.M.', 'Serbia & Montenegro': 'F.U.Y/S.M.'})

In [6]:
#Αλλάξαμε τα ονόματα των columns
df = df.rename(columns={'From country': 'from_country',
                                         'To country':'to_country',
                                         'Points      ':'points'})

In [7]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,to_country,points,Duplicate
0,1957,f,1957f,J,Austria,Austria,0,x
1,1957,f,1957f,J,Austria,Belgium,0,NaN
2,1957,f,1957f,J,Austria,Denmark,0,NaN
3,1957,f,1957f,J,Austria,France,0,NaN
4,1957,f,1957f,J,Austria,Germany,0,NaN
...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Estonia,6,NaN
61814,2023,f,2023f,J,United Kingdom,Belgium,7,NaN
61815,2023,f,2023f,J,United Kingdom,Lithuania,8,NaN
61816,2023,f,2023f,J,United Kingdom,Australia,10,NaN
61817,2023,f,2023f,J,United Kingdom,Sweden,12,NaN

In [8]:
#Kάναμε νέο column στο df και ορίσαμε τα ονόματα των χωρών που θα αντικατασταθούν με τα ονόματα των μπλοκ
df['from_bloc'] = ''

In [9]:
#Ορίσαμε τα ονόματα των χωρών που θα αντικατασταθούν με τα ονόματα των μπλοκ
country_to_bloc_mapping = {
    "Sweden" : "Nordic Bloc",
    "Norway" : "Nordic Bloc",
    "Iceland" : "Nordic Bloc",
    "Finland" : "Nordic Bloc",
    "Denmark": "Nordic Bloc",
    
    "Andorra" : 'Iberian Bloc',
    "Spain" : 'Iberian Bloc',
    "Portugal" : 'Iberian Bloc',
    
    "Armenia" : 'East Bloc',
    "Azerbaijan" : 'East Bloc',
    "Belarus" : 'East Bloc',
    "Czech Republic" : 'East Bloc',
    "Estonia" : 'East Bloc',
    "Georgia" : 'East Bloc',
    "Latvia" : 'East Bloc',
    "Lithuania" : 'East Bloc',
    "Poland" : 'East Bloc',
    "Russia" : 'East Bloc',
    "Slovakia" : 'East Bloc',
    "Ukraine" : 'East Bloc',
    
    "Austria" : 'Western Bloc',
    "Belgium" : 'Western Bloc',
    "France" : 'Western Bloc',
    "Germany" : 'Western Bloc',
    "Ireland" : 'Western Bloc',
    "Luxembourg" : 'Western Bloc',
    "Netherlands" : 'Western Bloc',
    "Switzerland" : 'Western Bloc',
    "United Kingdom" : 'Western Bloc',
    
    "Albania" : 'Balkan Bloc', 
    "Bosnia & Herzegovina" : 'Balkan Bloc',
    "Bulgaria" : 'Balkan Bloc',
    "Croatia" : 'Balkan Bloc',
    "Cyprus": 'Balkan Bloc',
    "North Macedonia" : 'Balkan Bloc',
    "Greece" : 'Balkan Bloc',
    "Hungary" : 'Balkan Bloc',
    "Moldova" : 'Balkan Bloc',
    "Montenegro" : 'Balkan Bloc',
    "Sebia" : 'Balkan Bloc',
    "F.U.Y/S.M." : 'Balkan Bloc',
    "Slovenia" : 'Balkan Bloc',
    "Turkey" : 'Balkan Bloc',
    "Romania": 'Balkan Bloc'
}

In [10]:
#Κάναμε την αντικατάσταση και τα βάλαμε στο νέο column
for index, row in df.iterrows():
    country = row['from_country']
    bloc = country_to_bloc_mapping.get(country, 'Other Countries')
    df.at[index, 'from_bloc'] = bloc

In [11]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,to_country,points,Duplicate,from_bloc
0,1957,f,1957f,J,Austria,Austria,0,x,Western Bloc
1,1957,f,1957f,J,Austria,Belgium,0,NaN,Western Bloc
2,1957,f,1957f,J,Austria,Denmark,0,NaN,Western Bloc
3,1957,f,1957f,J,Austria,France,0,NaN,Western Bloc
4,1957,f,1957f,J,Austria,Germany,0,NaN,Western Bloc
...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Estonia,6,NaN,Western Bloc
61814,2023,f,2023f,J,United Kingdom,Belgium,7,NaN,Western Bloc
61815,2023,f,2023f,J,United Kingdom,Lithuania,8,NaN,Western Bloc
61816,2023,f,2023f,J,United Kingdom,Australia,10,NaN,Western Bloc
61817,2023,f,2023f,J,United Kingdom,Sweden,12,NaN,Western Bloc

In [12]:
#Αλλάξαμε τη σειρά των columns
desired_columns_order = ["Year", "(semi-) final", "Edition", "Jury or Televoting", "from_country", "from_bloc", "to_country", "points", "Duplicate"]
df = df[desired_columns_order]

In [14]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,points,Duplicate,to_bloc
0,1957,f,1957f,J,Austria,Western Bloc,Austria,0,x,
1,1957,f,1957f,J,Austria,Western Bloc,Belgium,0,NaN,
2,1957,f,1957f,J,Austria,Western Bloc,Denmark,0,NaN,
3,1957,f,1957f,J,Austria,Western Bloc,France,0,NaN,
4,1957,f,1957f,J,Austria,Western Bloc,Germany,0,NaN,
...,...,...,...,...,...,...,...,...,...,...
61813,2023,f,2023f,J,United Kingdom,Western Bloc,Estonia,6,NaN,
61814,2023,f,2023f,J,United Kingdom,Western Bloc,Belgium,7,NaN,
61815,2023,f,2023f,J,United Kingdom,Western Bloc,Lithuania,8,NaN,
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,10,NaN,
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,12,NaN,

In [15]:
#Κρατήσαμε μόνο όπου υπάρχουν βαθμοί 10 και 12
df = df = df[df['points'].isin([10, 12])].copy()

In [16]:
df

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,points,Duplicate,to_bloc
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,10,NaN,
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,10,NaN,
3206,1971,f,1971f,J,France,Western Bloc,Spain,10,NaN,
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,10,NaN,
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,10,NaN,
...,...,...,...,...,...,...,...,...,...,...
61797,2023,f,2023f,J,Switzerland,Western Bloc,Czech Republic,12,NaN,
61806,2023,f,2023f,J,Ukraine,East Bloc,Lithuania,10,NaN,
61807,2023,f,2023f,J,Ukraine,East Bloc,Sweden,12,NaN,
61816,2023,f,2023f,J,United Kingdom,Western Bloc,Australia,10,NaN,
61817,2023,f,2023f,J,United Kingdom,Western Bloc,Sweden,12,NaN,

In [17]:
df.head()

,Year,(semi-) final,Edition,Jury or Televoting,from_country,from_bloc,to_country,points,Duplicate,to_bloc
3160,1971,f,1971f,J,Belgium,Western Bloc,Finland,10,NaN,
3167,1971,f,1971f,J,Belgium,Western Bloc,Monaco,10,NaN,
3206,1971,f,1971f,J,France,Western Bloc,Spain,10,NaN,
3314,1971,f,1971f,J,Monaco,Other Countries,Spain,10,NaN,
3329,1971,f,1971f,J,Norway,Nordic Bloc,Monaco,10,NaN,

In [18]:
#Το αποθηκεύσαμε
df.to_csv('BLOC_TO_COUNTRIES_10_12.csv', index=False)